html,body {
    height: 100%;
    
}

div#root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    flex: 1; 
  }
  
  .footer {
    margin-top: auto;
  }
  